@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
